[build-system]
requires = ["setuptools", "poetry_core>=1.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "tjax"
version = "0.10.5"
description = "Tools for JAX."
license = "MIT"
authors = ["Neil Girdhar <mistersheik@gmail.com>"]
readme = "README.rst"
repository = "https://github.com/NeilGirdhar/tjax"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "License :: OSI Approved :: MIT License"]

[tool.poetry.dependencies]
python = "^3.7"
colorful = "^0.5.4"
jax = "^0.2.13"
jaxlib = ">=0.1"
matplotlib = "^3.3"
networkx = "^2.4"
numpy = ">=1.20,<1.21"
optax = "^0"

[tool.poetry.dev-dependencies]
flake8 = ">=3.9"
hypothesis = "^6"
isort = ">=5.8"
mypy = ">=0.812"
pylint = ">=2.8"
pytest = "^6.2"

[tool.isort]
line_length = 100
known_first_party = ["tfax"]
known_third_party = ["jax"]
multi_line_output = 0
skip_glob = [".pytype/*.py"]
skip = []

[tool.pycodestyle]
max-line-length = 100
exclude = ["__init__.py", "__pycache__", "README.rst"]

[tool.pytest]

[tool.pytype]
disable = "ignored-abstractmethod"
exclude = ["**/*_test.py", "**/test_*.py'"]

[tool.pylint.messages_control]
disable = [
    "abstract-method",
    "arguments-differ",
    "cyclic-import",  # https://github.com/PyCQA/pylint/issues/3525
    "invalid-name",
    "invalid-unary-operand-type",
    "missing-docstring",
    "no-member",
    "no-self-use",
    "too-few-public-methods",
    "too-many-arguments",
    "too-many-branches",
    "too-many-locals",
    "too-many-return-statements",
    "too-many-statements",
    "unused-argument"]

[tool.pylint.reports]
output-format = "colorized"

[tool.pylint.similarities]
min-similarity-lines = 10
ignore-imports = "yes"
